
.modal-img{
    width: 270px;
    height: 140px;
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 20px;
}

.first-text{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #191919;
    margin-top: 80px;
    text-align: center;
}

.secondary-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #7F7F7F;
    text-align: center;
    margin-top: 35px;
}

.modal-buttons{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 65px;
    padding-bottom: 60px;
}

.cancel-btn{
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    width: 192px;
    height: 48px;
    border: none;
    background-color: #8A33FD;
    padding: 16px 20px 16px 20px;
    border-radius: 8px;
}

.delete-btn{
    color: #8A33FD;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    width: 192px;
    height: 48px;
    border: 1px solid #3C4242;
    background-color: white;
    padding: 16px 20px 16px 20px;
    border-radius: 8px;
}